header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--fundo-elementos);
    padding: 0.5rem 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 1001;

    nav {
        display: flex;
        align-items: center;

        .hamburguer-icon {
            display: block;
            cursor: pointer;
            padding-right: 1rem;

            svg {
                width: 1.5rem;
                height: auto;
            }

            .line {
                transition: transform var(--transicao);
                transform-origin: center;
            }

            &.ativo {
                .top {
                    transform: rotate(-45deg);
                }
                .bottom {
                    transform: rotate(45deg);
                }
            }
        }

        .logo-link {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 3.5rem;
                height: auto;
                border-radius: 0.5rem;
            }

            span {
                font-family: var(--fonte-titulo);
                font-weight: bold;
                font-size: 1.5rem;
                max-width: 10ch;
            }
        }

        .menu-links {
            position: absolute;
            top: var(--altura-header);
            left: 0;
            width: 100%;
            background-color: var(--fundo-elementos);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;

            transform: translateX(-100%);
            transition: transform var(--transicao);
            z-index: 999;
            pointer-events: none;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

            a {
                padding: 0.5rem;
            }

            &.ativo {
                transform: translateX(0);
                pointer-events: auto;
            }
        }

        button {
            margin-left: auto;
            padding: 1rem 1.5rem;
            font-size: 1.1rem;
        }

        @media (min-width: 768px) {
            a {
                transition: transform var(--transicao);

                &:hover {
                    transform: scale(1.05);
                }
            }
            
            .menu-links {
                position: static;
                width: auto;
                transform: none;
                flex-direction: row;
                padding: 0;
                opacity: 1;
                pointer-events: auto;
                background-color: unset;
                box-shadow: none;
            }

            .hamburguer-icon {
                display: none;
            }

            .link-logo {
                transition: transform var(--transicao);
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.backdrop {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: var(--altura-header);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: opacity var(--transicao), visibility var(--transicao);

    &.ativo {
        visibility: visible;
        opacity: 1;
    }
}