#hero {
    height: calc(100vh - var(--altura-header));
    scroll-margin-top: var(--altura-header);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .hero-video {
        position: absolute;
        width: auto;
        height: 100%;
        z-index: 2;
        filter: brightness(0.7);
    }

    .hero-background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    @media (min-width: 720px) {
        .hero-background-image {
            background: url(../assets/images/hero-background-image.webp) center/cover no-repeat;
            filter: blur(5px) brightness(0.7);
            transform: scale(1.1);
        }
        .hero-video {
            box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
        }
    }

    .hero-content {
        position: absolute;
        text-align: center;
        max-width: 500px;
        text-shadow: 0 0 2rem rgba(0, 0, 0, 1);
        z-index: 3;
        color: var(--fundo-body);
        padding: 1rem;

        h1, h2, h3 {
            padding: 1rem 0;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        button {
            margin-left: auto;
            margin-top: 1rem;
            padding: 1rem 1.5rem;
            font-size: 1.1rem;
        }
    }
}